<!-- app/views/shops/show.html.erb -->
<h2><%= @shop.name %></h2>
<p><%= @shop.address %></p>
<p><%#= @shop.rating %></p>


<div id="carouselControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item w-30 active">
      <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= @shop.reviews.first.created_at.strftime("%m/%d/%Y") %></small></p>
            <div class="review-content"><%= @shop.reviews.first.content %></div>
            <p><small><%= @shop.reviews.first.user.given_name %> <%= @shop.reviews.first.user.family_name %></small></p>
          </div>
        </div>
    </div>
    <div class="carousel-item w-30">
      <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= @shop.reviews[1].created_at.strftime("%m/%d/%Y") %></small></p>
            <div class="review-content"><%= @shop.reviews[1].content %></div>
            <p><small><%= @shop.reviews[1].user.given_name %> <%= @shop.reviews[1].user.family_name %></small></p>
          </div>
        </div>
    </div>
    <div class="carousel-item w-30">
      <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= @shop.reviews.last.created_at.strftime("%m/%d/%Y") %></small></p>
            <div class="review-content"><%= @shop.reviews.last.content %></div>
            <p><small><%= @shop.reviews.last.user.given_name %> <%= @shop.reviews.last.user.family_name %></small></p>
          </div>
        </div>
    </div>
  </div>

</div>

<h1>Produtcs</h1>

<% @shop.products.each do |product| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <%#= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.category %></p>
      <p>Product description with <strong>relevant info</strong> only.</p>
      <p><%= product.price %>€</p>
      <p><%= product.reference_number %></p>
    </div>
  </div>
<% end %>
<%= link_to 'Back', root_path %> |
<%= link_to 'Leave a review', new_shop_review_path(@shop) %>







