
<% if user_signed_in? %>
<div role="navigation" class="navbar nav-user navbar-expand navbar-custom bg-custom" id="collapseNavbar">
        <!-- favarin logo -->
        <%= link_to "Home", class: "navbar-brand" do %>
        <%= image_tag 'favarin.png' %>
        <% end %>

    <div class="collapse navbar-collapse flex-column align-items-end mt-1" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
              <%= link_to '#', class: 'nav-link' do %>
          <i class="fas fa-home" aria-hidden="true"></i>
      <% end %>
          </li>

      <li class="nav-item">
      <%= link_to '#', class: 'nav-link' do %>
          <i class="fas fa-comments" aria-hidden="true"></i>
      <% end %>

          </li>



      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profilo", "#", class: "dropdown-item" %>
              <%= link_to "Ordini", "#", class: "dropdown-item" %>
               <%= link_to "Prodotti", "#", class: "dropdown-item" %>
               <%= link_to "Negozi", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>





        <% else %>




        <div role="navigation" class="navbar navbar-expand-lg navbar-custom bg-custom" id="collapseNavbar">
        <!-- favarin logo -->
        <%= link_to "Home", class: "navbar-brand" do %>
        <%= image_tag 'favarin.png' %>
        <% end %>

         <!-- hamburger menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-mobile-button"><i class="hamburger-icon fas fa-bars"></i></span>
        </button>

      <div class="collapse navbar-collapse flex-column align-items-end" id="navbarCollapse">

          <ul class="navbar-nav m-3">

         <li class="nav-item active">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>

            <li class="nav-item">
              <a class="nav-link" href="#about">Chi Siamo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" data-toggle="collapse" data-target="#dropdown-menu02">Cataloghi</a>
              <div>
                <div id="dropdown-menu02" class="dropdown-menu collapse" aria-labelledby="dropdown02" data-parent="#collapseNavbar">
                  <a class="dropdown-item" href="#">Elettrodomestico</a>
                  <a class="dropdown-item" href="#">Casalingo</a>
                  <a class="dropdown-item" href="#">Utensileria</a>
                  <a class="dropdown-item" href="#">Giardinaggio</a>
                  <a class="dropdown-item" href="#">Colori</a>
                  <a class="dropdown-item" href="#">Materiale Elettrico</a>
                  <a class="dropdown-item" href="#">Sistemi di
                    Fissaggio</a>
                  <a class="dropdown-item" href="#">Idraulica</a>
                  <a class="dropdown-item" href="#">Antinfortunistica</a>
                    <a class="dropdown-item" href="#">Ferramenta</a>
                </div>
              </div>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="#shops">Negozi</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#contact">Contattaci</a>
            </li>
            <div class="user-log-in d-flex justify-content-end">

              <button class="sign-in">
                    <%= link_to "Crea Account", new_user_session_path %>
              </button>

                  <button class="log-in">
                    <%= link_to "Login", new_user_session_path %>
                  </button>
            </div>
          </ul>
      <form class="search-bar d-flex justify-content-end mb-1 mx-2">
        <input type="search"  placeholder="Cerca qui" aria-label="Search">
        <button type="submit">cerca</button>
      </form>
        </div>
      </div>
      <% end %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 105">
  <path fill="#000" fill-opacity="1" d="M2,0L200,40L1440,0L1440,0L720,0L0,0Z"></path>
  </svg>




