<!-----------------------------
	BANNER SECTION
------------------------------>
<!-- this ghost-banner div exists to fix the gap given from the nav-bar's svg, if removed there will be a white gap from navbar and banner. -->
<div id="home" class="ghost-banner"></div>
<div class="banner">
    <div class="banner-header d-flex justify-content-end">
        <button class="question-mark">?</button>
    </div>
    <div class="banner-main">
        <div>
            <img src="home-image.png" class="banner-image" alt="weelbarrow full of tools">
        </div>
        <div class="banner-title d-flex flex-column align-items-center text-center">
            <p>é piu facile quando usi gli attrezzi giusti!</p>
            <button type="submit">vedi prodotti</button>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
    <path fill="#000" fill-opacity="1" d="M0,0L300,100L1440,0L1440,0L720,0L0,0Z"></path>
</svg>
<!-----------------------------
	ABOUT SECTION
------------------------------>
<div id="about" class="container about-description d-flex">
    <div>
        <h3><span>Chi s</span>iamo</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <img src="https://picsum.photos/450" alt="">
</div>
<!-----------------------------
	SHOPS SECTION
------------------------------>
<div id="shops" class="shops-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
        <path fill="#F4F4F4" fill-opacity="1" d="M0,0L300,100L1440,0L1440,0L720,0L0,0Z"></path>
    </svg>
    <div class="container mb-5">
        <h3><span>Dove</span> siamo</h3>
        <%= render "shops/index", locals: { shops: @shop } %>
    </div>
  </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
    <path fill="#D01D3C" fill-opacity="1" d="M0,0L300,100L1440,0L1440,0L720,0L0,0Z"></path>
</svg>
<!-----------------------------
	REVIEWS SECTION
------------------------------>
<div class="reviews">
    <div class="container d-flex">
      <% Shop.first.reviews.each do |review| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= review.created_at.strftime("%m/%d/%Y") %></small></p>
            <div class="review-content"><%= review.content %></div>
            <p><small><%= review.user.given_name %> <%= review.user.family_name %></small></p>
          </div>
        </div>
        <% end %>
    </div>
</div>
<!-----------------------------
	CONTACT SECTION
------------------------------>
<div id="contact" class="container">
    <h3><span>Conta</span>ttaci</h3>
    <p>Per qualsiasi domanda o informazione, scrivici qui:</p>
    <div class="d-flex flex-row info-content">
        <form class="d-flex flex-column">
            <div class="d-flex flex-row">
                <input type="text" class="form-control mr-1" placeholder="Nome">
                <input type="text" class="form-control" placeholder="Cognome">
            </div>
            <div class="d-flex flex-column">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                <textarea class="form-control rounded-2" rows="3" placeholder="Inserisci il testo qui..."></textarea>
            </div>
        </form>
        <img class="img-fluid" src="mailbox.svg" alt=" mailbox image">
    </div>
</div>
<!-----------------------------
	FOOTER SECTION
------------------------------>
<footer>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
        <path fill="#F4F4F4" fill-opacity="1" d="M0,0L300,100L1440,0L1440,0L720,0L0,0Z"></path>
    </svg>
    <!-- footer content -->
    <div class="container footer-container d-flex flex-column">
        <div class="links-container d-flex">
            <div class="links-items-footer d-flex flex-row">
                <div class="d-flex flex-column">
                    <h5>about</h5>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                </div>
                <div class="d-flex flex-column">
                    <h5>about</h5>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                </div>
            </div>
            <div class="links-items-footer d-flex flex-row">
                <div class="d-flex flex-column">
                    <h5>about</h5>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                </div>
                <div class="d-flex flex-column">
                    <h5>about</h5>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                    <p>contacts</p>
                </div>
            </div>
        </div>
        <div class="rights-container d-flex justify-content-center flex-column align-items-center">
            <a class="p-3" href=""><img src="favarin.png" alt="company logo"></a>
            <p>2021 &copy; All Rights Reserved.</p>
        </div>
        <div class="social-container">
      	<!-- 	social links -->

        </div>
    </div>
</footer>
